// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $gold-400 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $gold-500 !default;
$brand-inverse:              $blue-ligth !default;

/* brand Colors Chevrolet */

$brand-white:               $white !default;
$brand-black:               $black-500 !default;
$brand-gray-11:             $black-500 !default;
$brand-gray-7:              $black-500 !default;
$brand-gold:                $gold-500 !default;
