<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-7" *ngIf="ocultarFormConsulta">
				<div class="card">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">search</i>
						</div>
						<h4 class="card-title">Listar estados de procesos de colisión</h4>
					</div>
					<div class="card-body ">
						<form ngNativeValidate [formGroup]="buscarVehiculoPorPlaca" (ngSubmit)="listarEstadoProceso()" autocomplete="off">
							<mat-form-field class="example-full-width">
								<input matInput formControlName="inpPlaca" placeholder="Placa" name="inpPlaca"
								type="text" required>
								<mat-error *ngIf="buscarVehiculoPorPlaca.get('inpPlaca').hasError('required')">
									El campo Placa es <strong>requerido</strong>
								</mat-error>
								<mat-error *ngIf="buscarVehiculoPorPlaca.get('inpPlaca').hasError('pattern')">La Placa debe tener el siguiente formato <strong>Ejm: ABC123</strong>
							</mat-error>
							</mat-form-field>
							<div class="row ml-2">
								
							</div>
							<div class="container">
								<div class="row justify-content-center">
									<button mat-raised-button [disabled]="buscarVehiculoPorPlaca.invalid" class="btn btn-fill btn-primary mr-md-4">
										<i class="material-icons">search</i> Buscar
									</button>
								</div>
							</div>
						</form>
					</div>					
				</div>
			</div>
			<div *ngIf="visualizarProcesosColision" class="container mb-2">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div *ngIf="noExistenRegistrosVehiculo">
							<hr>
							<h2 class="text-center"><span class="icono-vehiculo mr-2"><i class="material-icons">directions_car</i></span> Vehículo con placa: <strong>{{visualizarPlaca}}</strong></h2>
							<br>
							<h3 class="text-center"><strong>{{messageNoExistenRegistrosVehiculo}} </strong></h3>
						</div>
						<div *ngIf="!noExistenRegistrosVehiculo">
							<hr>
							<h2 class="text-center"><span class="icono-vehiculo mr-2"><i class="material-icons">directions_car</i></span> Vehículo con placa: <strong>{{visualizarPlaca}}</strong></h2>
							<br>
							<ul class="timeline timeline-simple">
								<div *ngIf="procesosFinalizados">
									<h3 class="text-center"><strong>PROCESOS FINALIZADOS</strong></h3>
								</div>
								<div *ngIf="!procesosFinalizados">
									<h3 class="text-center"><strong>PROCESOS FINALIZADOS</strong></h3>
									<h4 class="text-center">Aún no existen procesos finalizados</h4><br>
								</div>
								<li class="timeline-inverted" *ngFor="let procesoFin of procesosFinalizados">
									<div class="timeline-badge success">
										<i class="material-icons">assignment_turned_in</i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<span class="badge badge-success">{{procesoFin.valor}}</span><span class="badge badge-success">{{procesoFin.nombre}}</span>
										</div>
										<div class="timeline-body mb-3">
											<p><strong>Descripción: </strong>{{procesoFin.descripcion}}</p>
										</div>
										<div class="timeline-body mb-3">
											<p><strong>Observaciones: </strong>{{procesoFin.observacion}}</p>
										</div>
										<br>
										<div class="row justify-content-center">
											<h5 class="d-flex my-0 mr-md-3 py-0">
												<i class="material-icons py-1">date_range</i><strong class="ml-1 py-1"> Fecha inicio:</strong> <p class="ml-1 py-1">{{procesoFin.fechaInicio}}</p>
											</h5>
											<h5 class="d-flex my-0 ml-md-3 py-0" *ngIf="procesoFin.fechaFinal; else elseBlock">
												<i class="material-icons py-1">date_range</i><strong class="ml-1 py-1"> Fecha cierre:</strong> <p class="ml-1 py-1">{{procesoFin.fechaFinal}}</p>
											</h5>
											<ng-template #elseBlock>
												<h5 class="d-flex my-0 ml-md-3 py-0">
													<i class="material-icons py-1">date_range</i><strong class="ml-1 py-1"> Fecha cierre:</strong> <p class="ml-1 py-1">Pendiente</p>
												</h5>
											</ng-template>
										</div>
									</div>
								</li>
								<div *ngIf="procesosPendientes">
									<h3 class="text-center"><strong>PROCESOS PENDIENTES</strong></h3>
								</div>
								<div *ngIf="!procesosPendientes">
									<h3 class="text-center"><strong>PROCESOS PENDIENTES</strong></h3>
									<h4 class="text-center">No existen procesos pendientes</h4><br>
								</div>
								<li class="timeline-inverted" *ngFor="let procesoSinFin of procesosPendientes">
									<div class="timeline-badge danger">
										<i class="material-icons">update</i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<span class="badge badge-danger">{{procesoSinFin.valor}}</span><span class="badge badge-danger">{{procesoSinFin.nombre}}</span>
										</div>
										<div class="timeline-body">
											<p><strong>Descripción: </strong>{{procesoSinFin.descripcion}}</p>
										</div><br>
										<h5 class="d-flex my-0 py-0">
											<i class="material-icons py-1">date_range</i><strong class="ml-1 py-1"> Fecha pendiente</strong>
										</h5>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-5" *ngIf="!ocultarFormConsulta">
				<div class="card">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">search</i>
						</div>
						<h4 class="card-title">Listar estados de procesos de colisión</h4>
					</div>
					<div class="card-body ">
						<div class="row justify-content-center">
							<button mat-raised-button (click)="limpiarCamposConsulta()" class="btn btn-fill btn-rose ml-md-4"><i class="material-icons">search</i> Nueva Consulta</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>