span.icono-vehiculo {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 51px;
	border-radius: 50%;
	background-color: #393839;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}
span.icono-vehiculo > i {
	color: #fff;
	text-align: center;
}