<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="card ">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">mail_outline</i>
						</div>
						<h4 class="card-title">Agendamiento de citas</h4>
					</div>
					<div class="card-body ">
						<form ngNativeValidate [formGroup]="fechaTecnicoForm" autocomplete="off">
							<legend>Seleccione la fecha y técnico de preferencia</legend>

							<mat-form-field>
								<input matInput [matDatepicker]="picker" placeholder="Fecha cita" (click)="picker.open()"
									[(ngModel)]="consultarAgenda.fechaCita" id="inpFechaCita" #fechaCita="ngModel" required [ngModelOptions]="{standalone: true}">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-error *ngIf="!consultarAgenda.fechaCita">
									El campo fecha cita es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>

							<mat-form-field>
								<mat-select placeholder="Técnico"
									[(ngModel)]="consultarAgenda.tecnico" id="inpTecnico" name="inpTecnico"
									(selectionChange)="seleccionarTecnico($event.value)" required [ngModelOptions]="{standalone: true}">
									<mat-option *ngFor="let tecnico of tecnicos" [value]="tecnico">
										{{tecnico.nombre}}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="!consultarAgenda.tecnico">
									El campo técnico es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>

							<div class="container">
								<div class="row justify-content-center">
									<button mat-raised-button [disabled]="mostrarHoras" (click)="consultarDisponibilidad()"
										class="btn btn-fill btn-rose mr-md-4"><i class="material-icons">search</i> Consultar Agenda</button>
									<button [disabled]="!mostrarHoras" mat-raised-button (click)="limpiarCamposAgenda()"
										class="btn btn-fill btn-rose ml-md-4"><i class="material-icons">search</i> Nueva Consulta</button>
								</div>
							</div>
						</form>

						<div *ngIf="mostrarHoras" class="my-3">
							<hr>
							<div class="text-center" style="color: #171717 !important;">
								<h2 class="my-0"><strong>Fecha agendada:</strong> {{this.formatoFecha(this.consultarAgenda.fechaCita)}}</h2>
								<h2 class="my-0"><strong>Técnico: </strong>{{this.consultarAgenda.nombre}}</h2>
							</div>
							<hr>
							<div class="text-center" style="color: #171717 !important;">
								<h4 class="mb-3">Si desea agendar con otro técnico de clic en el botón Nueva Consulta.</h4>
							</div>
							<hr>
							<mat-form-field>
								<mat-select [compareWith]="compararDato" placeholder="Hora disponibles"
									[(ngModel)]="consultarAgenda.horaCita" name="horaCita"
									(selectionChange)="seleccionarHora($event.value,true)" required ariaLabel="horasDisponibles[0]">
									<mat-option *ngFor="let hora of horasDisponibles" [value]="hora">
										{{hora.hora}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="container" *ngIf="formVisibleRegistro">
							<legend>Registre sus datos personales y los de su vehículo</legend>
							
							<form ngNativeValidate [formGroup]="agendaForm" 
								autocomplete="off">

								<mat-form-field class="example-full-width">
									<input matInput placeholder="Nombres" type="text" formControlName="nombres"
										name="nombres" required>
									<mat-error *ngIf="agendaForm.get('nombres').hasError('required')">
										El campo nombres es <strong>requerido</strong>
									</mat-error>
									<mat-error *ngIf="agendaForm.get('nombres').hasError('pattern')">
										El campo nombres no debe superar los <strong>50 caracteres</strong> y no debe contener números ni caracteres especiales
									</mat-error>
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<input matInput placeholder="Apellidos" type="text" formControlName="apellidos"
										name="apellidos" required>
									<mat-error *ngIf="agendaForm.get('apellidos').hasError('required')">
										El campo apellidos es <strong>requerido</strong>
									</mat-error>
									<mat-error *ngIf="agendaForm.get('apellidos').hasError('pattern')">
										El campo apellidos no debe superar los <strong>50 caracteres</strong> y no debe contener números ni caracteres especiales
									</mat-error>
								</mat-form-field>

								<mat-form-field>
									<mat-select	placeholder="Tipo documento" formControlName="tipoDocumento" name="tipoDocumento" required ariaLabel="tiposDocumentos[0]">
										<mat-option *ngFor="let tipodoc of tiposDocumentos" [value]="tipodoc.value">
											{{ tipodoc.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="agendaForm.get('tipoDocumento').hasError('required')">
										El campo tipo documento es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<input matInput placeholder="No. Documento" type="number" min="0" minlength="5"
										formControlName="documento" name="documento" required>
									<mat-error *ngIf="agendaForm.get('documento').hasError('required')">
										El campo No. documento es <strong>requerido</strong>
									</mat-error>
									<mat-error *ngIf="agendaForm.get('documento').hasError('pattern')">
										El campo No. documento no debe superar los <strong>20 caracteres</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<input matInput placeholder="Teléfono/Celular" type="number" min="0" minlength="5"
										formControlName="contacto" name="contacto" required>
									<mat-error *ngIf="agendaForm.get('contacto').hasError('required')">
										El campo teléfono es <strong>requerido</strong>
									</mat-error>
									<mat-error *ngIf="agendaForm.get('contacto').hasError('pattern')">
										El campo teléfono no debe superar los <strong>50 caracteres</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<input matInput placeholder="Correo" type="email" formControlName="correo" name="correo"
										required >
									<mat-error *ngIf="agendaForm.get('correo').hasError('required')">
										El campo correo es <strong>requerido</strong>
									</mat-error>
									<mat-error *ngIf="agendaForm.get('correo').hasError('pattern')">
										El campo correo es <strong>ejemplo@gmail.com</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<input matInput placeholder="Placa" type="text" formControlName="placa" name="placa"
										required>
									<mat-error *ngIf="agendaForm.get('placa').hasError('required')">
										El campo placa es <strong>requerido</strong>
									</mat-error>
									<mat-error *ngIf="agendaForm.get('placa').hasError('pattern')">
                                        La placa debe tener el siguiente formato <strong>Ejm:
                                            ABC123</strong>
                                    </mat-error>
								</mat-form-field>

								<mat-form-field>
									<mat-select	placeholder="Modelo" formControlName="modelo" name="modelo" required ariaLabel="modelosListado[0]">
										<mat-option *ngFor="let modelo of modelosListado" [value]="modelo.value">
											{{ modelo.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="agendaForm.get('servicio').hasError('required')">
										El campo modelo es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field>
									<mat-select	placeholder="Año" formControlName="year" name="year" required ariaLabel="aniosModeloListado[0]">
										<mat-option *ngFor="let year of aniosModeloListado" [value]="year.value">
											{{ year.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="agendaForm.get('servicio').hasError('required')">
										El campo año es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field>
									<mat-select	placeholder="Servicio" formControlName="servicio" name="servicio" required ariaLabel="serviciosListado[0]">
										<mat-option *ngFor="let servicio of serviciosListado" [value]="servicio.value">
											{{ servicio.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="agendaForm.get('servicio').hasError('required')">
										El campo servicios es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<textarea matInput placeholder="Observaciones" name="observacion" id="observacion" formControlName="observacion" cols="30"
										rows="5"></textarea>
									<mat-error *ngIf="agendaForm.get('observacion').hasError('pattern')">
										El campo observación no debe superar los <strong>140 caracteres</strong>
									</mat-error>
								</mat-form-field>

								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" id="terminosCondiciones" type="checkbox" (change)="checkTerminos($event)">
										<span class="form-check-sign">
										<span class="check"></span>
										</span>
										Acepto los términos y condiciones.
									</label>
									<mat-error *ngIf="!check">
										El campo Autorización es <strong>requerido</strong>
									</mat-error>
								</div>

							</form>

							<div class="card-footer ">
								<button mat-raised-button (click)="onSubmitAgendar()" class="btn btn-fill btn-rose">Agendar</button>
							</div>
						</div>

					</div>					
				</div>
			</div>
		</div>
	</div>
</div>