<div class=" container-fluid class-loading">
    <div class=" container-fluid col bg-loading">
        <div class="col-md-12">

            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
            <hr>

            <!--
            <img src="../../../assets/img/loading.gif" alt="" class="img-loading">
            <img src="../../../assets/img/loading.gif" alt="" class="img-loading">
            -->

            <h2 class="text-center font-loading" style="background-color: rgba(0,0,0,.4); border-radius: 50px; padding: 10px 0; color: #fff !important;">Espere un momento por favor...</h2>
        </div>
    </div>
</div>